@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
    font-family: 'PantographPro';
    src: url('./PantographPro-Light.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'PantographPro',sans-serif;
}
