@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(109, 0, 0);
  scroll-behavior: smooth;
  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.swiper-container {
  width: 100%;
  height: 100%;
  }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

@keyframes appear{
    from{
      opacity: 0;
      scale:0.7;
      transform: translateY(-100);
    }

    
    to{
      opacity: 1;
      scale:1;
      transform: translateY(1);
    }
  }


.card{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
    
  }

.soda{
  width: 100px;
  height: 120px;
  margin-top: 20px;
  margin-left: 30px;
}

@media screen and (min-width: 701px) {
  .burger{
    display: hidden;
  }

  
}
@media screen and (min-width: 516px) {
  .card{
    width: 300px;
  }

  .menucontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    animation: appear 0.5s linear;
    
  }

  
}
@keyframes slideleft{
  from{
    transform: translateX(150px);
  }
  to{
    transporm: translateX(1000px)
  }
}

.swifercontainer{
  animation: slideleft 1s ease-in-out ;
}
