@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jua&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: #1E1E1E;

}


.title{
    font-family: 'jua', sans-serif;
}

.inter{
  
    font-family: 'Inter', sans-serif;
}

.charcoal{
    background-color: #121212;
}
.korean-red{
    color: #D62828;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


.swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2,p{
    font-family: 'jua',san-serif;
}

@keyframes appear{
    from{
      opacity: 0;
      scale:0.7;
      transform: translateY(-100);
    }

    
    to{
      opacity: 1;
      scale:1;
      transform: translateY(1);
    }
  }


.card{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
    z-index: 0;
  }


.soda{
  width: 100px;
  height: 120px;
  margin-top: 20px;
  margin-left: 30px;
}

@media screen and (min-width: 701px) {
  .burger{
    display: hidden;
  }

  
}
@media screen and (min-width: 516px) {
  .card{
    width: 300px;
  }

  .menucontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    animation: appear 0.5s linear;
    animation: slideleft 3s 
  }

  
}

.menucontainer{
  animation: appear 0.5s linear;
  animation: slideleft 1s ease 
}
@keyframes slidedown{
  from{
    transform: translateY(-120%);
  }
  to{
    transporm: translateY(-1100px)
  }
}
@keyframes slideleft{
  from{
    transform: translateX(-120%);
  }
  to{
    transporm: translateX(-100%)
  }
}

.swifercontainer{
  animation: slidedown 1.5s ease-in-out ;
}z
.card img,p{
    z-index: -1;
}

.amber{
  color: #ffbf00;
}

.content:hover{
    color: #ffbf00;
}

.logo{
  animation: slideleft 2s ;
}

:placeholder-shown{
  color: white;
}
input,textarea,button{
  color: white;
  border-radius: 15px;
}
input:hover,input:focus{
  border-color: #ffbf00;
}
