@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jua&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: #0d0d0d; 
    
}

.title{
    font-family: 'jua', sans-serif;
}

.charcoal{
    background-color: #121212;
}
.korean-red{
    color: #D62828;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


.swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2,p{
    font-family: 'jua',san-serif;
}

@keyframes appear{
    from{
      opacity: 0;
      scale:0.7;
      transform: translateY(-100);
    }

    
    to{
      opacity: 1;
      scale:1;
      transform: translateY(1);
    }
  }


.card{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
    
  }

.soda{
  width: 100px;
  height: 120px;
  margin-top: 20px;
  margin-left: 30px;
}

@media screen and (min-width: 701px) {
  .burger{
    display: hidden;
  }

  
}
@media screen and (min-width: 516px) {
  .card{
    width: 300px;
  }

  .menucontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    animation: appear 0.5s linear;
    
  }

  
}
@keyframes slideleft{
  from{
    transform: translateX(150px);
  }
  to{
    transporm: translateX(1000px)
  }
}

.swifercontainer{
  animation: slideleft 1s ease-in-out ;
}
.card img,p{
    z-index: -1;
}
